<div class="form-cont">

  <div class="form-header">
    <h3>Employee Form</h3>
  </div>

  <div class="form-group">

    <div class="form-control">
      <label for="f_name">First name</label>
      <input type="text" name="f_name">
    </div>

    <div class="form-control">
      <label for="l_name">Last name</label>
      <input type="text" name="l_name">
    </div>

  </div>

  

  <div class="form-group">
    <div class="form-control">
      <label for="email">Email</label>
      <input type="email" name="email" id="email">
    </div>
    <div class="form-control">
      <label for="Password">Password</label>
      <input type="text" name="Password" id="Password">
    </div>

    <div class="btn-cont">
      <button class="btn">Login</button>
    </div>
  </div>
</div>