
<p>Book now</p>

<div class="form-cont form-center">
  <div class="form-header"> 
    <h3>Client Credentials</h3>
  </div>
  <form action="/bookings/add-client" method="post">

    <div class="form-group">

      <div class="form-control">
        <label for="f_name">First name</label>
        <input type="text" name="f_name">
      </div>

      <div class="form-control">
        <label for="l_name">Last name</label>
        <input type="text" name="l_name">
      </div>

    </div>

    <div class="form-control">
      <label for="">Phone Number</label>
      <input type="text" name="phn_num">
    </div>

    <div class="btn-cont">
      <button class="btn"> Next</button>
    </div>

  </form>
</div>